.dashboardBody {
    background: #0000009c;
    min-height: 100vh;
    margin-left: 260px;
    padding: 0;
    transition: ease-in-out .4s;
    height: 100%;
}

body {
    background-image: url(../../../Assets/images/trelloBg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.dashboardBody.expanded {
    margin-left: 0;
}

@media screen and (max-width: 767px) {

    .dashboardBody.expanded, .dashboardBody  {
        margin-left: 0 !important;
    }

    

}