.custom-card {
  border: none;
  padding: 0;
  margin: 10px;
  background-color: #22272b;
  box-shadow: none;
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  width: 270px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}



.user-info>div {
  margin-left: -5px;
}


.user-info > div span {
  font-size: 11px;
}



.user-info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 1px;
  bottom: 5px;
}

.user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 8px;
}

.notification-counter {
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 12px;
  font-size: 12px;
}


.card-header h4 {
  font-size: 14px;
  font-weight: 600;
}

.countData {
  display: flex;
  gap: 5px;
  font-size: 11px;
  align-items: center;
}

.countData span {
  padding-left: 4px;
  font-weight: 600;
}

.cksBWM {
  padding-bottom: 30px !important;
}

.activityContent p {
  margin-bottom: 0;
}

.smooth-dnd-container.horizontal section {
  border-radius: 12px;
  background-color: #101204;
  color: #A9B4C0;
}

.cardImage {
  position: relative;
  width: 100%;
  /* top: 5px; */
}

.modal-content {
  overflow: hidden;
}

.cardBody {
  display: block;
  width: 100%;
  flex-grow: 1;
  background-color: #22272B;
  padding: 20px 10px 10px;
  border-radius: 12px;
}