/* 
  .select {
    color: #fff;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    background: transparent;
    display: flex;
    width: 300px;
    padding: 16px 12px;
  }
  .select option {
    color: #000;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    background: transparent;
  }
   */
.verification-box {
    display: flex;
    gap: 15px;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.verification-box input {
    width: 75px;
    height: 75px;
}


.notiDropdown button:hover, .notiDropdown button:focus, .notiDropdown button:active, .btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {
    color: #fff;
}


@media(max-width: 640px) {

.verification-box input {
    width: 50px;
    height: 50px;
}
}