.dataExist {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.actionBtn button, .actionBtn a {
    border: none;
    background-color: transparent;
    font-size: 14px;
    text-decoration: underline;
    outline: none;
}


.activityContent {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    font-size: 14px;
}

.activityContent small, .dateTime small {
    font-size: 12px;
    color: #7e7c7c;
}

.activityAttached {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.activityAttached strong {
    text-transform: capitalize;
}


.attachmendHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addAttachment label, .editBtn {
    background-color: #f3f3f3;
    padding: 6px 14px;
    border-radius: 3px;
    cursor: pointer;
}

.commentBox {
    display: flex;
    /* align-items: center; */
}

.commentAreaBox {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
}


.ql-toolbar.ql-snow {
    border-bottom: 1px solid #d1d1d1c2 !important;
    border: none;
}

.ql-container.ql-snow {
    border: none !important;
}


.btnBoxes button {
    padding: 4px 10px;
    border: none;
    min-width: 85px;
    border-radius: 4px;
}

.btnBoxes {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.btnPrimary {
    background-color: #6fc8b4;
}

.commentActions {margin-top: 10px;}

.commentActions button {
    font-size: 14px;
    border: none;
    background-color: transparent;
}

.commentActions button svg {
    font-size: 13px;
    padding-right: 3px;
}

.commentBar {
    flex-grow: 1;
}

img {
    max-width: 100%;
}

.cardImage img {
    width: 230px;
    height: auto;
    object-fit: contain;
    max-width: 100% !important;
}

li.sidebar-li a {
    text-transform: capitalize;
}